/*-----------------------------------------------------------------------*/
/*Fonts*/
/*-----------------------------------------------------------------------*/
.abel-font {
  font-family: 'Abel', sans-serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}


/*-----------------------------------------------------------------------*/
/*Colors*/
/*-----------------------------------------------------------------------*/
.bg-mint {
  background-color: #a5e6d3 !important;
}

.btn-mint {
  color: #212529;
  background-color: #a5e6d3;
  border-color: #a5e6d3;
}

.btn-outline-darkmint {
  color: #60ab95;
  background-color: transparent;
  background-image: none;
  border-color: #60ab95;
}

.plain-link {
  color: #60ab95 !important;
}

.white-gradient-background {
  background: linear-gradient(-45deg, #ebedee, #fdfbfb);
  border-color: white;
}

.blue-gradient-background {
  background: linear-gradient(-45deg, #c3cfe2, #f5f7fa);
}


/*-----------------------------------------------------------------------*/
/*Navbar*/
/*-----------------------------------------------------------------------*/
.navbar-brand-custom {
  font-size: 30px;
}

.navbar-link {
  font-size: 20px;
}

.navbar-inner {
  background:transparent;
}

.nav-item a {
  border-bottom: 3px solid transparent;
}

.nav-item a:hover {
  border-bottom: 3px solid #a5e6d3;
}

.nav-item a:active {
  border-bottom: 3px solid #a5e6d3;
}


/*-----------------------------------------------------------------------*/
/*Reddit Project*/
/*-----------------------------------------------------------------------*/
a.search-results-card,
a.search-results-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: inherit;
}


/*-----------------------------------------------------------------------*/
/*Spotify Project*/
/*-----------------------------------------------------------------------*/
.project-card-hover:hover {
  
}
