/*-----------------------------------------------------------------------*/
/*Fonts*/
/*-----------------------------------------------------------------------*/
.abel-font {
  font-family: 'Abel', sans-serif;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif;
}

.font-20 {
  font-size: 20px;
}

.font-30 {
  font-size: 30px;
}


/*-----------------------------------------------------------------------*/
/*Colors*/
/*-----------------------------------------------------------------------*/
.bg-mint {
  background-color: #a5e6d3 !important;
}


/*-----------------------------------------------------------------------*/
/*Navbar*/
/*-----------------------------------------------------------------------*/
.navbar-brand-custom {
  font-size: 30px;
}

.navbar-link {
  font-size: 20px;
}

.navbar-inner {
  background:transparent;
}

.nav-item a:hover {
  border-bottom: 3px solid #60ab95;
}

.nav-item a:active {
  border-bottom: 3px solid #60ab95;
}


/*-----------------------------------------------------------------------*/
/*Reddit Project*/
/*-----------------------------------------------------------------------*/
a.search-results-card,
a.search-results-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: inherit;
}
