{% extends "base.html" %}

{% block content %}
  <div class="row pt-2">
    <a class="btn montserrat-font btn-link mr-auto font-16 plain-link" href="/portfolio">Return To Portfolio</a>
  </div>
  <div class="row pt-2 pb-2">
    <h1 class="abel-font mx-auto">Reddit Search</h1>
  </div>
  <hr class="w-100" />
  <div class="row pt-5">
    <div class="col-lg-8 order-2 order-lg-1">
      <div class="input-group pt-5 pt-lg-0 mb-5 mx-auto w-50">
        <input type="text" class="form-control" name="subreddit" id="subreddit" placeholder="Enter a subreddit" aria-label="Subreddit Search" aria-describedby="subreddit-search">
        <div class="input-group-append">
          <button class="btn btn-outline-mint" type="button">Search</button>
        </div>
      </div>
      <br />
      <div id="searchResults" class="d-none">

      </div>
    </div>

    <div class="col-lg-4 order-1">
      <h3 class="montserrat-font pb-3 text-left">This is a simple search page that takes in a subreddit and displays the top 10 posts for the last day with links.</h3>
      <hr class="pb-3 w-100" />
      <h5 class="montserrat-font text-left"><strong>Technologies Used:</strong> Flask, Bootstrap, PRAW Reddit API wrapper, AJAX</h5>
    </div>
  </div>

  <script src="/static/js/reddit.js"></script>
{% endblock %}
