{% extends "base.html" %}

{% block content %}
  <div class="row pt-2">
    <a class="btn montserrat-font btn-link mr-auto font-16 plain-link" href="/portfolio">Return To Portfolio</a>
  </div>
  <div class="row pt-2 pb-2">
    <h1 class="abel-font mx-auto">Spotify Artist Discography Display</h1>
  </div>
  <hr class="w-100" />
  <div class="row pt-5">
    <div class="col-lg-8 order-2 order-lg-1">
      <div class="input-group pt-5 pt-lg-0 mb-5 mx-auto w-50">
        <input type="text" class="form-control" name="artist" id="artist" placeholder="Enter an artist" aria-label="Artist Search" aria-describedby="artist-search">
        <div class="input-group-append">
          <button name="search" id="search" class="btn btn-outline-darkmint" type="button">Search</button>
        </div>
      </div>
      <br />
      <div id="searchResults" class="d-none">

      </div>
    </div>

    <div class="col-lg-4 order-1">
      <h3 class="montserrat-font pb-3 text-left">This is a search page that takes in an artist name and displays their discography. This was made based off of Mike Bostock's <a href="https://observablehq.com/@d3/zoomable-sunburst">Zoomable Sunburst.</a></h3>
      <hr class="pb-3 w-100" />
      <h5 class="montserrat-font text-left"><strong>Technologies Used:</strong> Flask, Bootstrap, Spotipy, d3.js, AJAX</h5>
    </div>
  </div>

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/static/js/spotify.js"></script>
{% endblock %}
