{% extends "base.html" %}

{% block content %}
    <div class="row">
      <div class="col-lg-4">
        <img src="/static/img/headshot.jpg" class="img-fluid" alt="professional headshot" />
      </div>
      <div class=col-lg-8">
        <h2 class="pl-lg-2 display-5">I am an experienced web developer who specializes in Python web frameworks and API/website interactions. Finding creative ways to gather and display information on webpages is what drives me. I love to learn and broaden my horizons, and I see working with
        new technology as an exciting challenge!</h2><br />
        <h2 class="pl-lg-2 display-5">When I'm not working on computer projects I am working in the kitchen creating new recipes for hot sauces, pickles, gin, or whatever I'm having for dinner that night! I also enjoy science fiction novels and playing board games with friends.</h2>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header navbar-font">Skills</div>
          <div class="card-body">
            <p class="card-text text-center">Python</p>
            <p class="card-text text-center">Flask</p>
            <p class="card-text text-center">Bootstrap</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header navbar-font">Learning</div>
          <div class="card-body">
            <p class="card-text text-center">C#</p>
            <p class="card-text text-center">d3.js</p>
            <p class="card-text text-center">Angular.js</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card">
          <div class="card-header navbar-font">Skills</div>
          <div class="card-body">
            <p class="card-text text-center">Python</p>
            <p class="card-text text-center">Flask</p>
            <p class="card-text text-center">Bootstrap</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
