{% extends "base.html" %}

{% block content %}
    <div class="row mt-5">
      <div class="col-lg-4">
        <img src="/static/img/headshot.jpg" class="img-fluid" alt="professional headshot" />
      </div>
      <div class=col">
        <h2 class="pl-lg-2 display-5 montserrat-font">I am an experienced web developer who specializes in Python web frameworks and API/website interactions. Finding creative ways to gather and display information on webpages in a responsive and accessible is what drives me. I love to learn and broaden my horizons, and I see working with
        new technology as an exciting challenge!</h2><br />
        <h2 class="pl-lg-2 display-5 montserrat-font">When I'm not working on computer projects I am working in the kitchen creating new recipes for hot sauces, pickles, gin, or whatever I'm having for dinner that night! I also enjoy science fiction novels and playing board games with friends.</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 mt-5">
        <div class="card">
          <div class="card-header abel-font bg-info"><strong>Skills</strong></div>
          <div class="card-body text-center montserrat-font">
            <p class="card-text">Python</p>
            <p class="card-text">Flask</p>
            <p class="card-text">Bootstrap</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-5">
        <div class="card">
          <div class="card-header navbar-font bg-info"><strong>Currently Learning</strong></div>
          <div class="card-body text-center montserrat-font">
            <p class="card-text">C#</p>
            <p class="card-text">d3.js</p>
            <p class="card-text">Angular.js</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mt-5">
        <div class="card">
          <div class="card-header navbar-font bg-info"><strong>Extra</strong></div>
          <div class="card-body text-center montserrat-font">
            <p class="card-text">Python</p>
            <p class="card-text">Flask</p>
            <p class="card-text">Bootstrap</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
