{% extends "base.html" %}

{% block content %}
  <div class="row">
    <form>
      <div class="form-group">
        <label for="submitterName">Name</label>
        <input type="text" class="form-control" id="submitterName" required>
      </div>
      <div class="form-group">
        <label for="submitterEmail">Email address</label>
        <input type="email" class="form-control" id="submitterEmail" required>
      </div>
      <div class="form-group">
        <label for="emailSubject">Subject</label>
        <input type="text" class="form-control" id="emailSubject" required>
      </div>
      <div class="form-group">
        <label for="emailBody">Message</label>
        <input type="text" class="form-control" rows="5" id="emailBody" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
