{% extends "base.html" %}

{% block content %}
  <div class="row pt-5 pb-2">
    <h1 class="abel-font mx-auto">Projects</h1>
  </div>
  <hr class="w-100" />

  <div class="row pt-5">
    <!--<div class="col-lg-4">-->
    <div class="card-deck">
      <div class="card blue-gradient-background project-card-hover mb-2">
        <div class="card-body">
            <h5 class="card-title">Reddit Search</h5>
            <p class="card-text">Displays the top 10 posts on a subreddit from the last day</p>
        </div>
        <div class="card-footer">
          <a href="/portfolio/reddit_project" class="btn btn-mint">Try It</a>
        </div>
      </div>
    <!--</div>-->

    <!--<div class="col-lg-4">-->
      <div class="card blue-gradient-background project-card-hover mb-2">
        <div class="card-body">
            <h5 class="card-title">Spotify Search</h5>
            <p class="card-text">Displays an artist's discography</p>
        </div>
        <div class="card-footer">
          <a href="/portfolio/spotify_project" class="btn btn-mint">Try It</a>
        </div>
      </div>
    <!--</div>-->

    <div class="card blue-gradient-background project-card-hover mb-2">
      <div class="card-body">
          <h5 class="card-title">Mars Weather</h5>
          <p class="card-text">Displays the weather forcast on Mars</p>
      </div>
      <div class="card-footer">
        <a href="/portfolio/mars_weather" class="btn btn-mint">Try It</a>
      </div>
    </div>

    <!--<div class="col-lg-4">
      <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Reddit Search</h5>
            <p class="card-text">Takes in a subreddit as input and displays the top 5 posts from the last day.</p>
            <a href="/portfolio/reddit_project" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>-->
    </div>
  </div>
{% endblock %}
