{% extends "base.html" %}

{% block content %}
  <div class="row pt-5">
    <div class="col-lg-4">
      <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Reddit Search</h5>
            <p class="card-text">Takes in a subreddit as input and displays the top 5 posts from the last day.</p>
            <a href="/portfolio/reddit_project" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Spotify Search</h5>
            <p class="card-text">Takes in an album name.</p>
            <a href="/portfolio/spotify_project" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">Reddit Search</h5>
            <p class="card-text">Takes in a subreddit as input and displays the top 5 posts from the last day.</p>
            <a href="/portfolio/reddit_project" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
